*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    border-bottom: 1px solid grey;
}
.container{
    width: 100%;
    height: 100%;
    max-width: 1320px;
    margin-left: auto;
    margin-right: auto;
    padding: 2rem;
}
.flexRow{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
#logo{
    text-decoration: none;
    color: black;
    font-size: 3rem;

}
nav ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 1rem;
}
#navLinks a {
    text-decoration: none;
    color: black;
   
}
#favBaglinks a{
    color: black;
}
#firstSection{
    margin-top: 5rem;
}
#productImages{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: baseline;
    gap: .5rem;
   
}
#productImages img{
    width: 10rem;
}
.products{
    display: flex;
    flex-direction: row;

}
#mainImage{
    width: 25rem;
    margin-left: -50%;
}
.productDiscription{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.productList{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.productDiscription a{
    text-decoration: none;
    border: 1px solid grey;
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-left: 3rem;
    padding-right: 3rem;
    border-radius: .5rem;
}
#addTocart{
    background-color: black;
    color: white;
}
#cart{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: .5rem;
    
}
#buyNow{
    color: black;
}
h1{
    margin-top: -40%;
    font-size: 2rem;
    margin-bottom: 1rem;
}
#price{
    display: inline-block;
    font-size: 2rem;
    margin: -100%;
    margin-bottom: 1rem;
    
}
#productdisc{
    font-size: 1 rem;
    margin-bottom: 1rem;
}
.variants {
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
    margin-bottom: 1.5rem;
    margin-left: -70%;
}
.variants img{
    border-radius: 50%;
    width: 2rem;
    
}